/* Basic styling */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* Banner image styling */
.banner-image {
  background-image: url('../images/bannerImage.png');
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 10px;
}

/* Header styling */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.header_h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 10%;
  width: 60%;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: rgba(94, 93, 93, 0.771);
  text-shadow: 2px 2px #ffffff;
}

.header_h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 35%;
  width: 60%;
  font-size: 20x;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.995);
  text-shadow: 2px 2px #ffffff;
}

/* Description text styling */
.description_h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 2px #ffffff;
}

/* Bubble styling */
.bubble-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  width: 100%; /* Update width to 100% */
  flex-grow: 1; /* Add flex-grow property */
}

.bubble-container:nth-child(odd) {
  margin-right: auto;
  flex-direction: row-reverse;
  background-size: cover;
  background-position: right;
}

.bubble-container:nth-child(even) {
  margin-left: auto;
  background-size: cover;
  background-position: left;
}

.bubble {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image title"
    "image list";
  flex-direction: column;
  position: relative;
}

.bubble-icon {
  grid-area: image;
  justify-self: center;
  align-self: start;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bubble-title {
  grid-area: title;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  max-width: 100%;
  padding-left: 50px;
}

.bubble-list {
  grid-area: list;
  list-style-type: disc;
  justify-self: start;
  text-align: left;
  margin: 0;
  padding-left: 50px;
}

/* Contact form styling */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  background-color: #f6f8fa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.g-recaptcha {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.success-msg {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #2ecc71;
  border-radius: 3px;
  background-color: #dff0d8;
  color: #2ecc71;
}

.error-msg {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 3px;
  background-color: #f2dede;
  color: #e74c3c;
}

/* Footer styling */
.footer-container {
  background-color: #202c3234;
  text-align: center;
  padding: 1rem;
}

.footer-text {
  color: #000000;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}